@media screen and ( max-width: 320px;){
    .container {
      max-width: 320px;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
    }
    /*heder*/ 
     .head-menu-two{display: none;}
        .adress{display: none;}
        .hover-mobile-link-modal{display: none;}
        
        .header-menu-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Півпрозоре чорне тло */
            display: none; /* По замовчуванню приховане */
            z-index: 1; /* Збільшено z-index, щоб було позаду меню */
        }
    .additional-default{
        display: flex;
        margin: 0 auto;
    justify-content: center;}
        .header-menu.active + .header-menu-overlay {
            display: block; /* Показувати тло, коли меню активне */
        }
      
    .header-menu {
        position: fixed;
        top: 0;
        left: -100%; /* Початкове положення за межами екрану зліва */
        width: 320px;
        height: 640px;
        background: #FFF;
        transition: left 0.5s; /* Змінено на transition left */
        z-index: 2; /* Збільшено z-index, щоб було поверх контенту */
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start
        }
    .info-modal{
        color: #434455;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;}
    
        .email-modal{ color: #404bbf; }
        .header-menu.active {
            left: 0; /* Відображати меню на всю ширину екрану зліва */
        }
        .head-menu-two-modal:hover,
        .head-menu-two-modal:focus{color:#404bbf;
            transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
        nav ul .head-menu-one:nth-child(1) a.head-menu-two {
            color:#404bbf; /* Новий колір тексту для першого елемента */
            }
            .info-modal:hover{color:#404bbf;}
            .info-modal:focus{color: #404bbf}
        .menu-modal li {
            list-style-type: none; 
        }
        .adress-modal li {
            list-style-type: none; 
            flex-direction: column;
        }
    .titleweb{display: inline-flex;
        height: 24px;
        align-items: center;}
    .head-menu-modal{
    margin-top: 36px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    }
    .head-menu-two-modal{
    color:  #2E2F42;
    font-family: Roboto sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}
    nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items:center;}
    nav li{list-style: none;}
    nav a{
        text-decoration:none;
        position: relative;}
    
    nav ul  a {
        text-decoration: none;
        }
    nav a::after{  
        content: '';
        background-color: #404bbf;
        left: 0;
        height: 4px;
        position: absolute;
        border-radius: 2px;
        bottom: -1px;
        left: 0;}
    
    nav ul a span::after {
        content: '';
        color:#404bbf;
        display: block;
        width: 100%;
        left: 0;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        nav ul .head-menu-one-modal:nth-child(1) a.head-menu-two-modal {
            color: #404bbf;
        }
    .links-two-modal {
        margin-top: 100px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.4px;}
    .hover-mobile-link-modal{
        margin-top: 48px;
        display: inline-flex;
        align-items: flex-start;
        gap: 40px;}
    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
        margin-left: auto;
        }
    
        .menu-btn span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222222;
            transition: all 0.5s;
        }
    .menu-btn span:nth-of-type(2) {
            top: calc(50% - 5px);
        }
     .menu-btn span:nth-of-type(3) {
            top: calc(50% + 5px);
        }
    /*heder end */ 
      
      /*section 1*/
      .esyb
        {color:  #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;} 
    .button-main{
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        color:  #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.64px;}
        /*section 1 end*/
        /*section 2 */
        
         .rectangle{
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;}
            .skills {
                flex-direction: row-reverse;
              
                flex-direction: column;
                align-items: center;
                gap: 72px;
            }
            .one { 
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                justify-content: center; 
            }
        
            .stra-one {
                align-self: center;
                color: #2E2F42;
                font-family: Roboto;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.11; /* 111.111% */
                letter-spacing: 0.03em;
                text-transform: capitalize;
            }
            .text-one {
                
                min-width: 288px;
                align-self: center;
                color: #434455;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5; /* 150% */
                letter-spacing: 0.02em;
            }
        
        /*section 2 end */
        /*section 3 */
        
        
        
         .team{
            color:  #2E2F42;
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;}
        .products{
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 72px;}
        .product{
            display: flex;
            width: 264px;
            padding-bottom: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;}
        /*section 3 end*/
        /*section 4*/
        
        .presentation{ 
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 72px;}
        .image{display: flex;
                width: 288px;
                padding-bottom: 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;}
        .picture-work
        {width: 288px;
        height: 280px;
        }
        .our-port{color:  #2E2F42;
          
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;}
        .work{display: flex;
            padding: 0px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;}
            /*section end*/
            
            
            /*footer*/
     .container.container-footer {
        display: block;
        flex-direction: column; /* Встановлюємо вирівнювання в колонку */
        align-items: center; /* Вирівнюємо по центру по горизонталі */
        text-align: center; /* Вирівнюємо текст по центру */
        justify-content: center;
    }
    .first-part-footer{
        width: 288px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;}
    .titlefoot{
        justify-content: center;
        display:flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16; /* 116.667% */
        letter-spacing: 0.04em;
        text-transform: uppercase;}
    .foot-text{
        align-items: center;
        width: 288px;
        color:  #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.32px;}
    .second-part{
        width: 288px;
        margin-top: 72px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    .second-part-text{
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;}
    .social-networks{
        display: inline-flex;
        align-items: center;
        gap: 16px; }
    .subscribe-footer{width: 288px;
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    .label-text{
        color:#FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;}
    .form-footer{   
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px; }
    .form-label
    {
        border-radius: 4px;
            border: 1px solid var(--WHITE, #FFF);
            opacity: 0.3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}
    .email-foot{width: 288px;}
    .footer-btn{
        display: inline-flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;}
        /*footer end */
    }

    
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    /*хедер*/
    
     .modal-header{display: none;}
      .hover-mobile-link{display: none;}
  .titleweb{
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px; /* 116.667% */
      letter-spacing: 0.54px;
      text-transform: uppercase;}
  .additional-default {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .menu,
      .adress{display: flex;}
  .head-menu {
  
      display: flex;
      margin: 0 auto;
      justify-content: center;
      }
  
  .head-menu-two {
      display: flex;
      align-items: flex-start;
      gap: 40px;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5; /* 150% */
      letter-spacing: 0.32px;}
  .links-two {
      margin-left: 0 auto;
      gap: 12px;
      display:flex;
      flex-direction: column-reverse;
      }
  .info-container {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
      .info  {
      display: flex; /* Додайте цю властивість */
      flex-direction: column;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.16; /* 116.667% */
      letter-spacing: 0.48px;
      }
     /*хедер кінець*/
     /* section 1 */
     .esyb{
      color:  #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px; /* 107.143% */
      letter-spacing: 1.12px;}
  .button-main{
      display: inline-flex;
      padding: 16px 32px;
      align-items: flex-start;
      gap: 10px;
      color:  #FFF;
      font-family: Roboto;
       font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5; /* 150% */
      letter-spacing: 0.64px;}
      /* section 1 end */
       /* section 2 */
        .container {
          width: 768px;
          padding: 0 16px;}
          .products{
              flex-direction: row;
              display: flex;
              flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок, якщо не вміщуються */
              justify-content: center; /* Рівномірно розподілити між елементами */
              gap: 24px; /* Зазор між елементами */
          }
      
      .product { 
          flex-basis: calc(50% - 12px);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          justify-content: center; 
      }
      .name{color: var(--NAVY-BLUE, #2E2F42);
          text-align: center;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.2; /* 120% */
          letter-spacing: 0.03em;}
      .text{color: var(--SLATE, #434455);
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5; /* 150% */
          letter-spacing: 0.01em;}
        /* section 2 end  */
         /* section 3 */
          {.rectangle{
              position: absolute;
              width: 1px;
              height: 1px;
              margin: -1px;
              border: 0;
              padding: 0;
              white-space: nowrap;
              clip-path: inset(100%);
              clip: rect(0 0 0 0);
              overflow: hidden;}
         .skills {
          flex-direction: row-reverse;
                  display: flex;
                  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок, якщо не вміщуються */
                  justify-content: space-between; /* Рівномірно розподілити між елементами */
                  gap: 24px; /* Зазор між елементами */
              }
      
          .one { 
              flex-basis: calc(50% - 12px);
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              justify-content: center; 
          }
      
          .stra-one {
              align-self: stretch;
              color: #2E2F42;
              font-family: Roboto;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.11; /* 111.111% */
              letter-spacing: 0.03em;
              text-transform: capitalize;
          }
          .text-one {
              
              min-width: 288px;
              align-self: stretch;
              color: #434455;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.5; /* 150% */
              letter-spacing: 0.02em;
          }
          /* section 3 end  */
           /* section 4  */
             .presentation{
          flex-direction: row;
          display: flex;
          flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок, якщо не вміщуються */
          justify-content: center; /* Рівномірно розподілити між елементами */
          gap: 24px; /* Зазор між елементами */
          }
      
      .image { 
         flex-basis: calc(50% - 12px);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          justify-content: center; 
          width: 356px;
          height: 420px;
          flex-shrink: 0;
      }
      .picture-work{
      width: 356px;
      height: 300px;
      }
      .work{
          display: flex;
          width: 356px;
          padding: 0px 16px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;}
            /* section 4 end */
            /*footer*/
            
             .container.container-footer {
        display: flex;
        flex-wrap: wrap; /* Додаємо flex-wrap: wrap */
        justify-content: center;
      }
    
      .first-part-footer,
      .second-part {
        width: calc(50% - 16px); /* Розподілити на 2 колонки з відступом між ними */
        margin-right: 16px; /* Додаємо відступ між колонками */
      }
    
      .subscribe-footer {
        width: 100%;
        margin-top: 72px; /* Відступ під subscribe-footer */
      }
  .form-label{
  border-radius: 4px;
  border: 1px solid var(--WHITE, #FFF);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  margin-right: 24px;}
  .footer-btn{
      display: inline-flex;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      gap: 16px;}
      /*footer end */
  }
@media (min-resolution:192d) {
.main-title{
background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/img-name.jpg);}
 } 

  