html

*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
div{margin: 0;}
img{display:block;}
ul{
    margin: 0;
    padding: 0;}

a{text-decoration: none;}

li{list-style: none;}


.header{
    margin: 0 auto;
    background-color:#FFF;
    border-bottom: 1px solid #e7e9fc ;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); }


    .container{
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;}

.additional-default{ 
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
}
.header-menu{
    width: 1158px; 
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items:center;}


.titleweb{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
    text-transform: uppercase;
    color: #404bbf;
    letter-spacing: 0.03em;
    margin-right: 76px; 
}

.span{color:#2e2f42;}

/* хедер меню */

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;}
nav li{list-style: none;}
nav a{
    text-decoration:none;
    position: relative;}

nav ul  a {
    text-decoration: none;
    }
nav a::after{  
    content: '';
    background-color: #404bbf;
    left: 0;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    bottom: -1px;
    left: 0;}

nav ul a span::after {
    content: '';
    color:#404bbf;
    display: block;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



.head-menu{
    flex-wrap: wrap;
    row-gap: 3px;
    display: flex;
    gap: 40px;
}
.head-menu-one{
  
    padding: 24px 0;
    transition-property:color, background-color;}

    .head-menu-two{ 
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-menu-two:hover,
.head-menu-two:focus{color:#404bbf;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
nav ul .head-menu-one:nth-child(1) a.head-menu-two {
    color:#404bbf; /* Новий колір тексту для першого елемента */
    }

/* хедер меню   частина с адрессою */
address ul{ 
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;}
address li{list-style: none;
    }

.adress{
    display: flex;
font-style: normal;
margin-left: auto;
    }

.links-two{
    flex-wrap: wrap;
    row-gap: 3px;
    display:flex;
    gap: 40px;
    padding: 24px 0;}

    .info{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.info:hover{color:#404bbf;}
.info:focus{color: #404bbf;}

/*320 px */
@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
        padding: 0 28px;
        margin: 0 auto;
    }
    .header-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Півпрозоре чорне тло */
        display: none; /* По замовчуванню приховане */
        z-index: 1; /* Збільшено z-index, щоб було позаду меню */
    }

    .header-menu.active + .header-menu-overlay {
        display: block; /* Показувати тло, коли меню активне */
    }
.header-menu {
    position: fixed;
    top: 0;
    left: -100%; /* Початкове положення за межами екрану зліва */
    width: 320px;
    height: 640px;
    background: #FFF;
    transition: left 0.5s; /* Змінено на transition left */
    z-index: 2; /* Збільшено z-index, щоб було поверх контенту */
    display: grid;
    flex-direction: column;}

address ul .email:nth-child(1) a.info {
    color:#404bbf; /* Новий колір тексту для першого елемента */
    }
    .header-menu.active {
        left: 0; /* Відображати меню на всю ширину екрану зліва */
    }

    .menu li {
        list-style-type: none; 
    }
    .adress li {
        list-style-type: none; flex-direction: column;
    }
.head-menu{
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;}
.adress {margin-top: 168px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.4px;}
.hover-mobile-link{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;}
.menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
    margin-left: auto;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
.menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
 .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
}

@media (min-width:768px){.hover-mobile-link{display: none;}
    
}
/*хедер кінець*/
.main-title {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/img-name.jpg);
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 188px;
    padding-bottom: 188px;
}



@media (min-resolution:192d) {

    .main-title{background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/img-name.jpg);}
 } 
.esyb{
    
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1.12px;
    font-size: 56px;
    line-height: 107.143%;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;}



    

    .button-main{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color:#ffffff;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px ;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer; 
    margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;}
.button-main:hover{background-color: #404BBF;}
.button-main:focus{background-color: #404BBF;}

.main-text{padding: 120px 0 120px}
h1,h2,h3,p{margin: 0;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.skills{
    display: flex;
    gap: 24px;
    }

.one{width: calc((100% - 72px) / 4);}
.rectangle{
    align-items: center; 
    justify-content: center;
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    width: 264 px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;}
.stra-one{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; }
.text-one{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}


.staff{
    background-color: #F4F4FD;
    padding: 120px 0 ;}

.team {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;}

.products{ 
    display: flex;
    gap: 24px;
}

    .product{
    background-color:#FFFFFF; 
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;}


.guer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
    text-align: center;
    margin: 0 auto;}

.name{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.text{  
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;}
.staff-sm-one{
    margin: 0;
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;}
.social-media-zero {
    display:flex;
    width:40px;
    height: 40px;
    }
    .social-media-link:hover{ background-color: #404bbf;}
    .social-media-link:focus{background-color: #404bbf;}
.social-media-link{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-media-link  
.social-media-one{fill:#f4f4fd ;}
.advertising{ 
    padding-top: 120px; 
    padding-bottom: 120px;
}
.our-port{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px; 
}
.presentation{ 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px ;} 

.image {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position:relative; 
}
.image:hover{
    transform: translateY(0%);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image:active{ box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
    }
.picture-work{
    position: relative;
    overflow: hidden;
}

.work{padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; }
.image:hover .active-back {
        transform: translateY(0%);}
.active-back{
    color: #F4F4FD;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    color:#f4f4fd;;
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.active-back:active,
.active-back:focus,
.active-back:hover
{transform: translateY(0%);}

.first{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;}
.second{
    font-weight: 400;
    font-style: normal;
    font-family: Roboto;
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color:#2E2F42;
    padding-top: 100px; 
    padding-bottom: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 ;
}
.container-footer{
    display: flex;
    align-items: baseline;
    }
.first-part-footer { margin-right: 120px}
.titlefoot{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    color:#4d5ae5;
    letter-spacing: 0.03em;
    margin-bottom: 16px;}
.footer-span{color:#f4f4fd;}

.foot-text{
    margin-top: 17.5px;
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px; }

.second-part {margin-right: 80px;}
.second-part-text{
    color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing:0.02em; 
    margin-bottom: 16px;}
.social-networks { 
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    }
.social-media-n {
    width: 40px;
    height: 40px;}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-media:hover,
.social-media:active,
.social-media:focus{background-color: #31d0aa;}

.social-media-two{fill:#f4f4fd}

.subscribe-footer {
    display: flex;
    flex-direction: column;
    
}
    .form-footer{
    display: flex;
    gap :24px;
    align-items: center;
}

.label-text{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight:500;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: le; 
    }
    
.email-foot {
    flex-grow: 1;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    background-color: transparent; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    padding-left: 16px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    color: #ffffff; 
    border: 1px solid var(--WHITE, #FFF);
    display: flex;}
.email-foot::placeholder{ color: #ffffff;}
    
.footer-btn { 
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px; 
    color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    cursor: pointer; 
    flex-shrink: 0;
}

.icon-btn{
    margin-left: 16px;
    fill: #FFF;
    width: 24px;
    height: 24px;
}

/*modal*/


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	display: grid;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 408px;
	min-height: 584px;
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 72px 24px 24px 24px;
}

.modal-close {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
	background-color: #404bbf;
	border: none;
}

.modal-close-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon, .modal-close:focus .modal-close-icon {
	fill: #ffffff;
}

.modal-form-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2E2F42;
	margin-bottom: 16px;
}

.modal-form-group {
	margin-bottom: 8px;
}

.modal-form-label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8E8F99;
	display: block;
	margin-bottom: 4px;
}

.modal-container-input {
	position: relative;
}

.modal-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within, .modal-form-input:focus {
	border-color: #4D5AE5;
}

.modal-form-input-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	fill: #2E2F42;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container-input:focus-within .modal-form-input-icon, .modal-container-input:focus .modal-form-input-icon {
	fill: #4D5AE5;
}

.modal-form-group-textarea {
	margin-bottom: 16px;
}

.modal-form-textarea {
	display: block;
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 16px;
	outline: transparent;
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus-within, .modal-form-textarea:focus {
	border-color: #4D5AE5;
}

.modal-form-checkbox {
	margin-bottom: 24px;
}

.modal-form-checkbox-input {
	width: 16px;
	height: 16px;
}

.modal-form-terms {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8E8F99;
	font-family: 'Roboto', sans-serif;
}

.modal-form-terms-pp {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	fill: transparent;
	margin-right: 8px;
}

.modal-form-checkbox-input:checked + .modal-form-terms .modal-form-terms-pp {
	background-color: #404bbf;
	border: none;
	fill: #f4f4fd;
}

.modal-form-terms-pp-link {
	color: #4D5AE5;
	text-decoration: underline;
}

.form-btn {
	display: block;
	margin: 0 auto;
	min-width: 169px;
	height: 56px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	background-color: #4D5AE5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
	background-color: #404BBF;
}

.modal.is-open {
	visibility: visible;
	opacity: 1;
}